<header class="bg-black text-white p-3">
    <div class="container-fluid d-flex justify-content-around align-items-center">
      <div class="logo">
        <h1 class="mb-0">Tempo Together</h1>
      </div>
      <div class="d-flex align-items-center">
        <input type="text" class="form-control mr-2" placeholder="Encuentra Bandas">
        @if(!logged()){
          <a routerLink="/login"><button class="btn btn-secondary">Login</button></a>
        }@else {
          <button class="btn btn-secondary" (click)="cerrarSesion()">Logout</button>    
          <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </button>
            <ul class="dropdown-menu">
              @if(user.type !== "band"){<li><a class="dropdown-item" routerLink="/registro-banda" routerLinkActive="active">Add Band</a></li>}
              <li><a class="dropdown-item" href="#">Menu item</a></li>
              <li><a class="dropdown-item" href="#">Menu item</a></li>
            </ul>
          </div> 
        }
      </div>
    </div>
  </header>