header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

a {
  color: #ffffff;
  text-decoration: none; 
}

.logo-img{
  height: 6em;
}
.user-icon{
  height: 3em;
  width: 100%;
  cursor: pointer;
}

.search-container{
  width: 35%;
}

.btn-login-tt{
  padding: 1em;
  font-weight: bold;
  height: 3em;
}

.btn-login-tt:hover{
  background-color: #a90f37;
}

.btn-registro-tt{
  background-color: transparent;
  border: #122A4B solid 1px;
  padding: 1em;
  color: #24508e;
  font-weight: bold;
  height: 3em;
}

.btn-registro-tt:hover{
  background-color: #122A4B;
  color: white;
}


.search-results{
  top: 5em;
}


