<app-header></app-header>
  <div class="container-fluid text-white bg-black p-5">
    <div class="text-center mb-5 d-flex w-100 align-items-center justify-content-center gap-4" style="height: 10em;">
        <section>
            <h2 class="title-xl">Unimos a músicos locales</h2>
            <button class="btn btn-light mt-3" [routerLink]="['/registrate']" routerLinkActive="router-link-active" >Unete</button>
        </section>
        <section class="h-100">
            <img src="assets/img/band-icon.png" alt="Icono de una Banda" class="h-100 img-fluid">
        </section>
    </div>

    <div class="row">
      <div class="col-6 mb-4">
        <div class="card bg-secondary text-white text-center p-3">
          <div class="card-body">
            <section>
                <h3 class="card-title">Bandas</h3>
                <p class="card-text">Encuentra a bandas con las que compartir tu talento</p>
                <a href="/registro" class="btn btn-light">Buscar</a>
            </section>
            <section>
                <img src="assets/img/band-icon-main.png" alt="Icono de una banda">
            </section>
          </div>
        </div>
      </div>
      <div class="col-6 mb-4">
        <div class="card bg-secondary text-white text-center p-3">
            <section>
                <div class="card-body">
                  <h3 class="card-title">Musicos</h3>
                  <p class="card-text">Encuentra a bandas con las que compartir tu talento</p>
                  <a href="/REGISTRO"><button class="btn btn-light">Buscar</button></a>
                </div>
            </section>
            <section>
                <img src="assets/img/musician-icon.png" class="card-img-top mx-auto" alt="Musicos">
            </section>
        </div>
      </div>
      <div class="col-12 mb-4">
        <div class="card bg-secondary text-white text-center p-3">
            <section>
                <div class="card-body">
                    <h3 class="card-title">Conciertos cerca de ti</h3>
                    <p class="card-text">Encuentra conciertos cercanos para ti para tener siempre un buen plan</p>
                    <button class="btn btn-light">Buscar</button>
                  </div>
            </section>
            <section>
                <img src="assets/img/concert-icon.png" class="card-img-top mx-auto" alt="Conciertos cerca de ti">
            </section>
        </div>
      </div>
    </div>
  </div>
